<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品リスト</title>
</head>
<body>
    <h2>商品一覧</h2>
    <table>
        <tr><th>id</th><th>name</th><th>Price</th><th>content</th></tr>
        <tr th:each="item : ${itemList}">
        	<td th:text="${item.id}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.Price}"></td>
            <td th:text="${item.content}"></td>
            <td>
                <a href="#" th:href="@{'/item/edit/' + ${item.id}}"><button>編集</button></a>
            </td>						
            
            <td>
                <form action="#" th:action="@{'/item/delete/' + ${item.id}}" method="post">
                    <button>削除</button>
                </form>
            </td>
        </tr>
    </table>
    <div><a href="#" th:href="@{/}">トップページ</a></div>
</body>
</html>